body { /*é o corpo da página */
  color: white; /* Define a cor do texto como branco */
  background: black; /* Define o fundo/background como preto */
  margin: 10px; /* zera o espaço próxima a margem da página */
  font-family: "Chakra Petch", sans-serif; /* Define a fonte do texto */
  margin-bottom: 100px; /* Adiciona uma margem inferior a página/espaço que estamos usando (de 100 pixels) */
}

.chamada{
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
  margin-right: 5%;

}

h1{
  font-size: 40px;
}

p {
  font-size: 20px;
}

