body { /*é o corpo da página */
  color: white; /* Define a cor do texto como branco */
  background: black; /* Define o fundo/background como preto */
  margin: 10px; /* zera o espaço próxima a margem da página */
  font-family: "Chakra Petch", sans-serif; /* Define a fonte do texto */
  margin-bottom: 100px; /* Adiciona uma margem inferior a página/espaço que estamos usando (de 100 pixels) */
}

.chamada { /* Estilização da seção de chamada principal */
  background: rgb(184, 156, 213); /* Cor de fundo roxa clara */
  padding-bottom: 80px;  /* Espaçamento interno na parte inferior */
  padding-top: 80px; /* Espaçamento interno na parte superior */
display: flex;  /* Ativa o modelo de layout flexbox */
justify-content: center; /* Centraliza os itens horizontalmente */
}

.chamada-texto { /* Estilização do container de texto dentro da chamada */
  margin-right: 5%; /* Margem à direita para afastar de outros elementos */

}

h1 { /* Estilização dos títulos h1 */
  font-size: 40px; /* Tamanho grande para títulos principais */
} 

p { /* Estilização dos parágrafos */
  font-size: 20px; /* Tamanho de fonte legível para textos */
} 

